[submodule "mbed-scons"]
	path = mbed-scons
	url = https://github.com/ducky64/mbed-scons.git
[submodule "mbed"]
	path = mbed
	url = https://github.com/CalSol/mbed.git
[submodule "calsol-fw-libs"]
	path = calsol-fw-libs
	url = https://github.com/CalSol/calsol-fw-libs.git
