# Compiled Object files
*.slo
*.lo
*.o
*.d
*.sym
*.map

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse Environment Metadata
.metadata
.settings

# OSX annoyances
*.DS_Store

# Top-level IDE configurations
.cproject
.project
.pydevproject
.vscode

# SCons build artifacts
.sconsign.dblite
build/
*.pyc

# Language settings xml files.
language.settings.xml

# PlatformIO builds
.pio
